.link {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    color: black ;
    transition: 5 ;
    border-radius: 30px;
}
.link:hover{
    background-color:rgb(12, 174, 202) ;
    color: #fff;
}
.link:active{
    background-color:rgb(12, 174, 202) ;
    color: #fff;
}